# Obtain credentials in the oracle console under Identity & Security.
# Under Identity, click Users. Under User Details, click Customer Secret Key
# For more information: https://docs.oracle.com/en-us/iaas/Content/Identity/Tasks/managingcredentials.htm#Working2
[default]
region=eu-frankfurt-1
aws_access_key_id=
aws_secret_access_key=
