[defaults]
roles_path = ~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles:roles
ansible_python_interpreter = auto_silent
inventory = inventory/inventory.ini
become = true
vault_password_file = ./.vault-password

[connection]
pipelining = true
